
body
{
    background-color: black;
    color: white;
    max-width: 1700px;
}
.container
{
    max-width: 1700px;

}
header
{
    border : 2px solid red;
    height: 700px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
}
.fab {
    margin-right: 30px;
}
.fa-facebook {
    color: #3b5998;
}
.fa-linkedin
{
color : #0e76a8;
}
.fa-skype
{
    color: #00aff0;
}
